# Emacs/vim backup files
\#*\#
*~
*.elc
.\#*
.projectile
[._]*.sw[a-p]

# VS temporary files
*.suo
*.user
*userosscache
*.sln.docstates
.vs/

# Compiled python files
__pycache/
*.py[cod]
*$py.class

# OS files
.DS_Store
.DS_Store?
